---
const year = new Date().getFullYear();
---

<!--begin::Footer-->
<footer class="app-footer" style="background-color: #192D63; color: #D4B012; padding: 1rem 0;">
  <div class="container-fluid text-center">
    <strong>
      &copy; {year} Facultad de Medicina Humana “Dr. Manuel Velasco Suárez” - UNACH.<br />
      Carretera Puerto Madero Km. 10.5, Finca Santa Teresa, Tapachula, Chiapas, México | C.P. 30825 | Tel: (961) 6178000 ext. 5695
    </strong>
    <div style="font-size: 0.9rem; color: #fff;">Todos los derechos reservados.</div>
  </div>
</footer>
<!--end::Footer-->
